<h1>Welcome</h1>

<% if logged_in? %>
  <h1>Estas autenticado, <%= current_user.username %></h1>
<% end %>

<%=button_to "login", '/login', method: :get %>
<%=button_to "Sign up", '/users/new', method: :get %>
